P {
    margin-bottom: 0.1in;
    direction: ltr;
    line-height: 115%;
    widows: 2;
    orphans: 2
}

P.western {
    font-family: "Verdana", serif
}

H1 {
    margin-bottom: 0in;
    background: #01b2e4;
    direction: ltr;
    color: #ffffff;
    line-height: 107%;
    page-break-inside: avoid;
    widows: 2;
    orphans: 2
}

H1.western {
    font-family: "Verdana", serif;
    font-size: 16pt
}

H1.cjk {
    font-size: 16pt
}

H1.ctl {
    font-size: 16pt;
    font-weight: normal
}

H2 {
    margin-left: 0.79in;
    text-indent: -0.79in;
    margin-bottom: 0.08in;
    background: #a4a7ac;
    direction: ltr;
    line-height: 107%;
    widows: 0;
    orphans: 0
}

H2.western {
    font-family: "Arial", sans-serif;
    font-size: 14pt;
    font-weight: normal
}

H2.cjk {
    font-size: 14pt;
    font-weight: normal
}

H2.ctl {
    font-family: "Noto Sans Devanagari";
    font-size: 14pt;
    font-weight: normal
}

H3 {
    margin-left: 0.98in;
    text-indent: -0.59in;
    margin-bottom: 0.08in;
    direction: ltr;
    color: #01b2e4;
    line-height: 107%;
    widows: 0;
    orphans: 0
}

H3.western {
    font-family: "Calibri", sans-serif;
    font-size: 12pt;
    font-weight: normal
}

H3.cjk {
    font-family: "Calibri";
    font-size: 12pt;
    font-weight: normal
}

H3.ctl {
    font-family: "Noto Sans Devanagari";
    font-weight: normal
}

H1.contents-heading-western {
    background: #ffffff;
    color: #2e74b5;
    font-family: "Calibri Light", serif;
    font-size: 16pt;
    font-weight: normal
}

H1.contents-heading-cjk {
    background: #ffffff;
    color: #2e74b5;
    font-size: 16pt;
    font-weight: normal
}

H1.contents-heading-ctl {
    background: #ffffff;
    color: #2e74b5;
    font-size: 16pt;
    font-weight: normal
}
